- 
    const portfolioLinks = [
        'show all', 
        'landscapes', 
        'products', 
        'white', 
    ]

    const imgTabs = [
        {
            name: 'tea',
            url: 'tea-cover',
            page: './pages/product.html'
        },
        {
            name: 'landscape',
            url: 'landscape-cover',
            page: ''
        },
        {
            name: 'fog',
            url: 'fog-cover',
            page: ''
        },
        {
            name: 'various',
            url: 'various-cover',
            page: ''
        },
        {
            name: 'tool',
            url: 'tool-cover',
            page: ''
        },
        {
            name: 'product',
            url: 'product-cover',
            page: ''
        }
    ]

div(class='w-1/4 m-auto mb-8' id='portfolio-links')
    ul.flex.w-full.justify-around
        each portfolioLink, index in portfolioLinks
            li(class='text-center' key=index)
                a(
                    href='#' 
                    class='text-xs font-medium text-gray-900 hover:text-gray-500'
                )= portfolioLink.toUpperCase()
|
div#portfolio.flex.w-full.flex-wrap
    each imgTab in imgTabs
        div(class='w-1/3 relative text-center overflow-hidden')
            a(href=imgTab.page) 
                img(src=`./assets/img/covers/${imgTab.url}.jpg`)
                p.absolute.text-gray-100.text-lg.text-semibold.opacity-0.pointer-events-none= imgTab.name
