- 
    const portfolioLinks = [
        'show all',
        'landscapes',
        'products',
        'white',
    ]

    const imgTabs = [
        {
            name: 'Tea',
            url: 'tea-cover',
            page: './tea'
        },
        {
            name: 'Landscapes',
            url: 'landscape-cover',
            page: './landscapes'
        },
        {
            name: 'Fog',
            url: 'fog-cover',
            page: './fog'
        },
        {
            name: 'Various',
            url: 'various-cover',
            page: './various'
        },
        {
            name: 'Tools',
            url: 'tool-cover',
            page: './tools'
        },
        {
            name: 'Products',
            url: 'product-cover',
            page: './products'
        }
    ]

div(
    class='md:w-1/4 w-full m-auto mb-8'
    id='portfolio-links'
)
    ul.flex.w-full.justify-around
        each portfolioLink, index in portfolioLinks
            li(
                class='text-center'
                key=index
            )
                button(
                    class='text-xs font-medium text-gray-900 hover:text-gray-500'
                    class='linksPortfolio'
                )= portfolioLink.toUpperCase()
|
#portfolio.flex.w-full.flex-wrap
    each imgTab, index in imgTabs
        div(class='md:w-1/3 w-1/2 relative text-center overflow-hidden imgsDiv')
            a(href=imgTab.page)
                img(
                    src=`./assets/img/covers/${imgTab.url}.jpg`
                    class=`animated fadeInUp delay-${index}`
                    class='imgAnimate'
                )
                p.absolute.text-gray-100.text-lg.text-semibold.opacity-0.pointer-events-none= imgTab.name
